<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Administrador de restaurantes</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8"  mode="side" opened>
        <img  class="icono mat-elevation-z8" src="assets/img/home/logohome.svg" alt="icono para el restaurante">
        <h4>Menu</h4>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>
        <button mat-button class="menu-button" (click)="openDialog()">
            <mat-icon>add_box</mat-icon>
            <span>Añadir</span>
        </button>
        <button mat-button class="menu-button" (click)="openDialog1()">
            <mat-icon>update</mat-icon>
            <span>Actualizar</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>logout</mat-icon>
            <span>Salir</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
          <h2 id="title2">Lista de restaurantes</h2>
          <app-table></app-table>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
